docs/n8n/kayvila-agent-a-visiteur.json
{
  "name": "Kayvila — Agent A — Chatbot Visiteur",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kayvila-visitor",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1320, 0],
      "webhookId": "kayvila-visitor-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').first().json.body || {};\nconst sessionId = b.sessionid || ('visitor-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9));\nreturn [{ json: { sessionId, message: b.message || '', page: b.page || '' } }];"
      },
      "id": "a1-init-session",
      "name": "Init Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1100, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id FROM banned_sessions WHERE session_id = '{{ $json.sessionId }}' LIMIT 1",
        "options": {}
      },
      "id": "a1-check-banned",
      "name": "Postgres - Check Banned Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-880, 0],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json || {};\nconst banned = !!(d.session_id || (d[0] && d[0].session_id));\nreturn [{ json: { isBanned: banned ? 'true' : 'false', sessionId: $('Init Session').first().json.sessionId } }];"
      },
      "id": "a1-code-bancheck",
      "name": "Code - Ban Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-760, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "a1-c-ban", "leftValue": "={{ $json.isBanned }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1-if-banned",
      "name": "IF - Session Bannie ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-540, 0]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: \"Cette session a été suspendue. Pour toute question, contactez l'équipe Kayvila directement.\", success: true } }];"
      },
      "id": "a1-code-banned-reply",
      "name": "Code - Reponse Bannie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversation_data, metadata, created_at FROM conversation_memory WHERE session_id = '{{ $('Init Session').first().json.sessionId }}' ORDER BY created_at ASC LIMIT 20",
        "options": {}
      },
      "id": "a1-get-memory",
      "name": "Get Long-Term Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-320, -160],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/villas/public",
        "options": {}
      },
      "id": "a1-get-catalog",
      "name": "Get Villa Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-100, -160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json || {};\nconst villas = Array.isArray(c.villas) ? c.villas : (Array.isArray(c) ? c : []);\nif (c.error || villas.length === 0) {\n  return [{ json: { catalog: '[]', catalogFallback: \"⚠️ Le catalogue est momentanément indisponible. Dis au visiteur : 'Notre service est temporairement perturbé. Tu peux nous contacter directement ou revenir dans quelques minutes.'\" } }];\n}\nreturn [{ json: { catalog: JSON.stringify(villas), catalogFallback: '' } }];"
      },
      "id": "a1-check-catalog",
      "name": "Code - Vérifier Catalogue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -360]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1-f-msg", "name": "userMessage", "value": "={{ $('Init Session').first().json.message }}", "type": "string" },
            { "id": "a1-f-sid", "name": "sessionId", "value": "={{ $('Init Session').first().json.sessionId }}", "type": "string" },
            { "id": "a1-f-cat", "name": "catalog", "value": "={{ $('Code - Vérifier Catalogue').first().json.catalog }}", "type": "string" },
            { "id": "a1-f-fb", "name": "catalogFallback", "value": "={{ $('Code - Vérifier Catalogue').first().json.catalogFallback }}", "type": "string" },
            { "id": "a1-f-ctx", "name": "context", "value": "={{ $('Init Session').first().json.page || 'Visiteur site Kayvila' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a1-edit-fields",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [120, -160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "a1-tox", "leftValue": "={{ ($json.userMessage || '').toLowerCase() }}", "rightValue": "(connard|salope|ta gueule|enculé|fdp|pute|nique|va te faire)", "operator": { "type": "string", "operation": "regex" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1-if-toxic",
      "name": "IF - Toxique ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [340, -160]
    },
    {
      "parameters": {
        "jsCode": "const s = $('Init Session').first().json.sessionId;\nreturn [{ json: { response: \"Je ne peux pas continuer cet échange. Pour échanger directement, l'équipe Kayvila reste à ta disposition. Bonne continuation.\", sessionId: s, success: true } }];"
      },
      "id": "a1-code-toxic-reply",
      "name": "Code - Reponse Toxique",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 40]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO toxicity_log (session_id, message) VALUES ('{{ $('Init Session').first().json.sessionId }}', '{{ ($('Init Session').first().json.message || '').replace(/'/g, \"''\") }}')",
        "options": {}
      },
      "id": "a1-tox-log",
      "name": "Postgres - Log Toxicité",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [780, 220],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS count FROM toxicity_log WHERE session_id = '{{ $('Init Session').first().json.sessionId }}' AND created_at > NOW() - INTERVAL '1 hour'",
        "options": {}
      },
      "id": "a1-tox-count",
      "name": "Postgres - Compter Toxicité",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1000, 220],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "a1-c-seuil", "leftValue": "={{ Number($json.count) }}", "rightValue": 3, "operator": { "type": "number", "operation": "gte" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1-tox-if",
      "name": "IF - Seuil Dépassé ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 220]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO banned_sessions (session_id, reason) VALUES ('{{ $('Init Session').first().json.sessionId }}', 'Auto-ban : 3+ messages toxiques en 1h') ON CONFLICT (session_id) DO NOTHING",
        "options": {}
      },
      "id": "a1-tox-ban",
      "name": "Postgres - Bannir Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1440, 220],
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es le guide virtuel de Kayvila, plateforme de location de villas de luxe en Martinique.\n\nHISTORIQUE :\n{{ $('Get Long-Term Memory').first().json.conversation_data }}\n\nCATALOGUE VILLAS (données réelles, ne rien inventer) :\n{{ $json.catalog }}\n{{ $json.catalogFallback }}\n\nMESSAGE VISITEUR : {{ $json.userMessage }}\nCONTEXTE PAGE : {{ $json.context }}\nDATE : {{ new Date().toLocaleDateString('fr-FR', { timeZone: 'America/Martinique' }) }}\n\nTON RÔLE :\n- Aider les visiteurs à trouver la villa parfaite\n- Répondre aux questions sur les villas et la Martinique\n- Rediriger vers le formulaire de réservation\n\nTON TON :\n- Chaleureux et fier de la Martinique\n- Tutoiement naturel\n- Pas d'emojis sauf si le visiteur en utilise\n\nRÈGLES ABSOLUES :\n- Ne JAMAIS inventer un prix ou une disponibilité\n- Si tu ne sais pas → \"Je vérifie et je te confirme\"\n- Ne parler QUE de Kayvila et de la Martinique\n- Si le visiteur est indécis → poser 2-3 questions (dates, capacité, budget)\n- Rediriger vers le site pour réserver\n\nOUTILS DISPONIBLES :\n- kayvila-search : chercher des villas par mots-clés (capacité, localisation, prix)\n- postgres-chat-memory : te souvenir de la conversation",
        "options": {}
      },
      "id": "a1-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [560, -200]
    },
    {
      "parameters": {
        "options": { "temperature": 0.7 }
      },
      "id": "a1-deepseek",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [440, 0],
      "credentials": {
        "deepSeekApi": { "id": "REPLACE_DEEPSEEK", "name": "KAYVILA DEEPSEEK" }
      }
    },
    {
      "parameters": {
        "tableName": "conversation_data"
      },
      "id": "a1-chat-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [580, 0],
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "toolDescription": "Cherche des villas Kayvila par critères (capacité, localisation, budget). Renvoie le catalogue public filtrable.",
        "method": "GET",
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/villas/public?search={searchValue}",
        "placeholderDefinitions": {
          "values": [
            { "name": "searchValue", "description": "Mots-clés de recherche : capacité, ville/quartier, fourchette de prix", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a1-tool-search",
      "name": "kayvila-search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [720, 0]
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json;\nconst sid = i.sessionId || $('Edit Fields').first().json.sessionId || '';\nlet t = i.output || i.text || \"Désolé, je rencontre un souci technique. Réessaie dans un instant.\";\nt = t.replace(/\\*\\*(.*?)\\*\\*/g, '$1').replace(/^[ \\t]*#+[ \\t]+/gm, '').replace(/^[ \\t]*-+[ \\t]+/gm, '• ').trim();\nreturn [{ json: { response: t, sessionId: sid } }];"
      },
      "id": "a1-format",
      "name": "FORMAT RESPONSE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, -200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1-s-sid", "name": "session_id", "value": "={{ $json.sessionId }}", "type": "string" },
            { "id": "a1-s-user", "name": "conversation_data.user", "value": "={{ $('Edit Fields').first().json.userMessage }}", "type": "string" },
            { "id": "a1-s-ai", "name": "conversation_data.assistant", "value": "={{ $json.response }}", "type": "string" },
            { "id": "a1-s-meta", "name": "metadata", "value": "={{ { \"session_id\": $json.sessionId, \"agent\": \"visiteur\" } }}", "type": "object" }
          ]
        },
        "options": {}
      },
      "id": "a1-edit-fields1",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, -200]
    },
    {
      "parameters": {
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "conversation_memory", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "conversation_data": "={{ $json.conversation_data }}",
            "metadata": "={{ $json.metadata }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1-save-memory",
      "name": "Save Memory Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1220, -200],
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response || $('FORMAT RESPONSE').first().json.response, \"success\": true } }}",
        "options": {}
      },
      "id": "a1-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1460, -40]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Init Session", "type": "main", "index": 0 }]] },
    "Init Session": { "main": [[{ "node": "Postgres - Check Banned Session", "type": "main", "index": 0 }]] },
    "Postgres - Check Banned Session": { "main": [[{ "node": "Code - Ban Check", "type": "main", "index": 0 }]] },
    "Code - Ban Check": { "main": [[{ "node": "IF - Session Bannie ?", "type": "main", "index": 0 }]] },
    "IF - Session Bannie ?": {
      "main": [
        [{ "node": "Code - Reponse Bannie", "type": "main", "index": 0 }],
        [{ "node": "Get Long-Term Memory", "type": "main", "index": 0 }]
      ]
    },
    "Code - Reponse Bannie": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Get Long-Term Memory": { "main": [[{ "node": "Get Villa Catalog", "type": "main", "index": 0 }]] },
    "Get Villa Catalog": { "main": [[{ "node": "Code - Vérifier Catalogue", "type": "main", "index": 0 }]] },
    "Code - Vérifier Catalogue": { "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]] },
    "Edit Fields": { "main": [[{ "node": "IF - Toxique ?", "type": "main", "index": 0 }]] },
    "IF - Toxique ?": {
      "main": [
        [{ "node": "Code - Reponse Toxique", "type": "main", "index": 0 }],
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Code - Reponse Toxique": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Postgres - Log Toxicité", "type": "main", "index": 0 }
        ]
      ]
    },
    "Postgres - Log Toxicité": { "main": [[{ "node": "Postgres - Compter Toxicité", "type": "main", "index": 0 }]] },
    "Postgres - Compter Toxicité": { "main": [[{ "node": "IF - Seuil Dépassé ?", "type": "main", "index": 0 }]] },
    "IF - Seuil Dépassé ?": { "main": [[{ "node": "Postgres - Bannir Session", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "FORMAT RESPONSE", "type": "main", "index": 0 }]] },
    "DeepSeek Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Postgres Chat Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "kayvila-search": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "FORMAT RESPONSE": { "main": [[{ "node": "Edit Fields1", "type": "main", "index": 0 }]] },
    "Edit Fields1": { "main": [[{ "node": "Save Memory Supabase", "type": "main", "index": 0 }]] },
    "Save Memory Supabase": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
