docs/n8n/kayvila-agent-c-admin.json
{
  "name": "Kayvila — Agent C — Copilot Admin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kayvila-admin",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "c1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 0],
      "webhookId": "kayvila-admin-webhook"
    },
    {
      "parameters": {
        "jsCode": "const raw = ($('Webhook').first().json.body.token || $('Webhook').first().json.headers?.authorization || '').replace(/^Bearer\\s+/i, '');\nlet userId = '', role = '';\ntry {\n  const payload = JSON.parse(Buffer.from(raw.split('.')[1] || '', 'base64').toString('utf8'));\n  userId = payload.sub || payload.user_id || payload.userId || '';\n  role = payload.role || (payload.user_metadata && payload.user_metadata.role) || (payload.app_metadata && payload.app_metadata.role) || '';\n} catch (e) {}\nconst body = $('Webhook').first().json.body;\nconst valid = !!userId && String(role).toLowerCase() === 'admin';\nreturn [{ json: { userId, role, token: raw, sessionId: body.sessionid || ('admin-' + userId), userMessage: body.message || '', valid: valid ? 'true' : 'false' } }];"
      },
      "id": "c1-auth",
      "name": "Code - Auth JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1380, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "c1-c-auth", "leftValue": "={{ $json.valid }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1-if-auth",
      "name": "IF - Admin ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1160, 0]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { response: \"Accès refusé. Cette interface est réservée aux administrateurs Kayvila.\", success: false } }];"
      },
      "id": "c1-refus",
      "name": "Code - Reponse Refus",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-940, 200]
    },
    {
      "parameters": {
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/admin/villas",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $json.token }}" } ] },
        "options": {}
      },
      "id": "c1-admin-context",
      "name": "Get Admin Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-940, -160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/villa-submissions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $('Code - Auth JWT').first().json.token }}" } ] },
        "options": {}
      },
      "id": "c1-submissions",
      "name": "Get Villa Submissions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-720, -160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversation_data, metadata, created_at FROM conversation_memory WHERE session_id = '{{ $('Code - Auth JWT').first().json.sessionId }}' ORDER BY created_at ASC LIMIT 50",
        "options": {}
      },
      "id": "c1-get-memory",
      "name": "Get Long-Term Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-500, -160],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gbrain-kayvila:8080/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"query\": $('Code - Auth JWT').first().json.userMessage, \"entity\": \"admin-global\", \"limit\": 5 } }}",
        "options": {}
      },
      "id": "c1-gbrain-recall",
      "name": "gbrain Recall",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-280, -160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1-f-msg", "name": "userMessage", "value": "={{ $('Code - Auth JWT').first().json.userMessage }}", "type": "string" },
            { "id": "c1-f-sid", "name": "sessionId", "value": "={{ $('Code - Auth JWT').first().json.sessionId }}", "type": "string" },
            { "id": "c1-f-uid", "name": "userId", "value": "={{ $('Code - Auth JWT').first().json.userId }}", "type": "string" },
            { "id": "c1-f-adm", "name": "adminContext", "value": "={{ JSON.stringify($('Get Admin Context').first().json) }}", "type": "string" },
            { "id": "c1-f-sub", "name": "submissions", "value": "={{ JSON.stringify($('Get Villa Submissions').first().json) }}", "type": "string" },
            { "id": "c1-f-gb", "name": "gbrainContext", "value": "={{ JSON.stringify($('gbrain Recall').first().json) }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "c1-edit-fields",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-60, -160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es le copilote admin de Kayvila. Tu supervises TOUTES les villas et tous les propriétaires.\n\nHISTORIQUE :\n{{ $('Get Long-Term Memory').first().json.conversation_data }}\n\nMÉMOIRE SÉMANTIQUE (gbrain — patterns et incidents passés) :\n{{ $json.gbrainContext }}\n\nVUE GLOBALE PLATEFORME (injectée, source de vérité) :\n{{ $json.adminContext }}\n\nSOUMISSIONS EN ATTENTE :\n{{ $json.submissions }}\n\nMESSAGE FONDATEUR : {{ $json.userMessage }}\nDATE : {{ new Date().toLocaleDateString('fr-FR', { timeZone: 'America/Martinique' }) }}\n\nTON RÔLE :\n- Donner une vue d'ensemble de la plateforme\n- Détecter les problèmes (OTA, impayés, soumissions en attente)\n- Alerter proactivement sur les anomalies\n- Ne JAMAIS modifier la base de données sans confirmation explicite\n\nTON TON :\n- Franche et incisive\n- Tutoiement avec le fondateur\n- Pas de blabla — faits et chiffres\n\nCAPACITÉS :\n- \"Top 3 villas ce mois ?\" → classement avec revenus\n- \"Y a des soumissions en attente ?\" → liste avec date de soumission\n- \"Problème synchro Airbnb ?\" → diagnostic par villa\n- \"Rapport mensuel\" → résumé complet (revenus, occupancy, problèmes)\n- \"Quel proprio n'a pas payé sa commission ?\" → vérifier Stripe\n\nRÈGLES :\n- Alerter, ne pas décider\n- Toujours donner le chiffre ET le contexte\n- Proactivité : signaler les anomalies sans attendre qu'on demande\n\nOUTILS : kayvila-all-villas, kayvila-all-bookings, kayvila-submissions, kayvila-global-stats, kayvila-ota-all, kayvila-users, postgres-chat-memory",
        "options": {}
      },
      "id": "c1-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [180, -200]
    },
    {
      "parameters": { "options": { "temperature": 0.2 } },
      "id": "c1-deepseek",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [-20, 100],
      "credentials": {
        "deepSeekApi": { "id": "REPLACE_DEEPSEEK", "name": "KAYVILA DEEPSEEK" }
      }
    },
    {
      "parameters": { "tableName": "conversation_data" },
      "id": "c1-chat-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [120, 100],
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "toolDescription": "Liste TOUTES les villas de la plateforme Kayvila.",
        "method": "GET",
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/admin/villas",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $('Code - Auth JWT').first().json.token }}" } ] },
        "options": {}
      },
      "id": "c1-tool-villas",
      "name": "kayvila-all-villas",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [260, 100]
    },
    {
      "parameters": {
        "toolDescription": "Liste TOUTES les réservations de la plateforme.",
        "method": "GET",
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/admin/bookings",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $('Code - Auth JWT').first().json.token }}" } ] },
        "options": {}
      },
      "id": "c1-tool-bookings",
      "name": "kayvila-all-bookings",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [400, 100]
    },
    {
      "parameters": {
        "toolDescription": "Liste les soumissions de villas en attente de validation.",
        "method": "GET",
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/villa-submissions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $('Code - Auth JWT').first().json.token }}" } ] },
        "options": {}
      },
      "id": "c1-tool-submissions",
      "name": "kayvila-submissions",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [540, 100]
    },
    {
      "parameters": {
        "toolDescription": "Revenus globaux Stripe et statistiques plateforme.",
        "method": "GET",
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/admin/global-stats",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $('Code - Auth JWT').first().json.token }}" } ] },
        "options": {}
      },
      "id": "c1-tool-stats",
      "name": "kayvila-global-stats",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [680, 100]
    },
    {
      "parameters": {
        "toolDescription": "Santé de TOUTES les synchronisations OTA (Airbnb / Booking) de la plateforme.",
        "method": "GET",
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/admin/ota-status",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $('Code - Auth JWT').first().json.token }}" } ] },
        "options": {}
      },
      "id": "c1-tool-ota",
      "name": "kayvila-ota-all",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [820, 100]
    },
    {
      "parameters": {
        "toolDescription": "Liste les utilisateurs / propriétaires de la plateforme.",
        "method": "GET",
        "url": "https://VOTRE-DOMAINE-KAYVILA/api/admin/owners",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $('Code - Auth JWT').first().json.token }}" } ] },
        "options": {}
      },
      "id": "c1-tool-users",
      "name": "kayvila-users",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [960, 100]
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json;\nlet t = i.output || i.text || \"Désolé, je rencontre un souci technique.\";\nt = t.replace(/\\*\\*(.*?)\\*\\*/g, '$1').replace(/^[ \\t]*#+[ \\t]+/gm, '').replace(/^[ \\t]*-+[ \\t]+/gm, '• ').trim();\nreturn [{ json: { response: t, sessionId: $('Code - Auth JWT').first().json.sessionId, userId: $('Code - Auth JWT').first().json.userId } }];"
      },
      "id": "c1-format",
      "name": "FORMAT RESPONSE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -200]
    },
    {
      "parameters": {
        "jsCode": "const msg = ($('Code - Auth JWT').first().json.userMessage || '').toLowerCase();\nconst out = ($('AI Agent').first().json.output || '').toLowerCase();\nconst blob = msg + ' ' + out;\nconst criticalKw = ['panne', 'impayé', 'impaye', 'litige', 'erreur', 'échec', 'echec', 'bloqué', 'bloque', 'down', 'critique', 'anomalie', 'conflit'];\nconst submKw = ['soumission', 'submission', 'à valider', 'a valider', 'en attente', 'nouvelle villa', 'validation'];\nconst isCritical = criticalKw.some(k => blob.includes(k));\nconst hasSubmission = submKw.some(k => blob.includes(k));\nreturn [{ json: { isCritical: isCritical ? 'true' : 'false', hasSubmission: hasSubmission ? 'true' : 'false', message: $('Code - Auth JWT').first().json.userMessage, aiOutput: $('AI Agent').first().json.output || '' } }];"
      },
      "id": "c1-summary",
      "name": "PREPARE SUMMARY PROMPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -460]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "c1-c-crit", "leftValue": "={{ $json.isCritical }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1-if-critical",
      "name": "IF - Problème Critique ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, -540]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "c1-c-sub", "leftValue": "={{ $json.hasSubmission }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1-if-submission",
      "name": "IF - Soumission Prioritaire ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, -380]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_ADMIN_CHAT_ID || 'REMPLACER_CHAT_ID' }}",
        "text": "=🚨 Kayvila ADMIN — Problème critique détecté\n\n{{ $json.message }}\n\nAnalyse: {{ $json.aiOutput }}",
        "additionalFields": {}
      },
      "id": "c1-telegram-crit",
      "name": "Telegram - Alerte Fondateur",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, -540],
      "credentials": {
        "telegramApi": { "id": "REPLACE_TELEGRAM", "name": "KAYVILA TELEGRAM" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_ADMIN_CHAT_ID || 'REMPLACER_CHAT_ID' }}",
        "text": "=📋 Kayvila ADMIN — Soumission à valider\n\n{{ $json.message }}",
        "additionalFields": {}
      },
      "id": "c1-telegram-sub",
      "name": "Telegram - Notif Soumission",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, -380],
      "credentials": {
        "telegramApi": { "id": "REPLACE_TELEGRAM", "name": "KAYVILA TELEGRAM" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1-s-sid", "name": "session_id", "value": "={{ $json.sessionId }}", "type": "string" },
            { "id": "c1-s-user", "name": "conversation_data.user", "value": "={{ $('Code - Auth JWT').first().json.userMessage }}", "type": "string" },
            { "id": "c1-s-ai", "name": "conversation_data.assistant", "value": "={{ $json.response }}", "type": "string" },
            { "id": "c1-s-meta", "name": "metadata", "value": "={{ { \"session_id\": $json.sessionId, \"agent\": \"admin\", \"user_id\": $json.userId } }}", "type": "object" }
          ]
        },
        "options": {}
      },
      "id": "c1-edit-fields1",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, -200]
    },
    {
      "parameters": {
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "conversation_memory", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "conversation_data": "={{ $json.conversation_data }}",
            "metadata": "={{ $json.metadata }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c1-save-memory",
      "name": "Save Memory Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [840, -200],
      "credentials": {
        "postgres": { "id": "REPLACE_SUPABASE_PG", "name": "KAYVILA SUPABASE" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gbrain-kayvila:8080/put_page",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"slug\": \"memory/admin-global/\" + new Date().toISOString().slice(0,10), \"content\": ($('Code - Auth JWT').first().json.userMessage + ' → ' + $('FORMAT RESPONSE').first().json.response) } }}",
        "options": {}
      },
      "id": "c1-gbrain-capture",
      "name": "gbrain Capture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $('FORMAT RESPONSE').first().json.response, \"success\": true } }}",
        "options": {}
      },
      "id": "c1-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1280, -40]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Code - Auth JWT", "type": "main", "index": 0 }]] },
    "Code - Auth JWT": { "main": [[{ "node": "IF - Admin ?", "type": "main", "index": 0 }]] },
    "IF - Admin ?": {
      "main": [
        [{ "node": "Get Admin Context", "type": "main", "index": 0 }],
        [{ "node": "Code - Reponse Refus", "type": "main", "index": 0 }]
      ]
    },
    "Code - Reponse Refus": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Get Admin Context": { "main": [[{ "node": "Get Villa Submissions", "type": "main", "index": 0 }]] },
    "Get Villa Submissions": { "main": [[{ "node": "Get Long-Term Memory", "type": "main", "index": 0 }]] },
    "Get Long-Term Memory": { "main": [[{ "node": "gbrain Recall", "type": "main", "index": 0 }]] },
    "gbrain Recall": { "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]] },
    "Edit Fields": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": {
      "main": [
        [
          { "node": "FORMAT RESPONSE", "type": "main", "index": 0 },
          { "node": "PREPARE SUMMARY PROMPT", "type": "main", "index": 0 }
        ]
      ]
    },
    "DeepSeek Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Postgres Chat Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "kayvila-all-villas": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "kayvila-all-bookings": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "kayvila-submissions": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "kayvila-global-stats": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "kayvila-ota-all": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "kayvila-users": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "FORMAT RESPONSE": { "main": [[{ "node": "Edit Fields1", "type": "main", "index": 0 }]] },
    "PREPARE SUMMARY PROMPT": {
      "main": [
        [
          { "node": "IF - Problème Critique ?", "type": "main", "index": 0 },
          { "node": "IF - Soumission Prioritaire ?", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - Problème Critique ?": { "main": [[{ "node": "Telegram - Alerte Fondateur", "type": "main", "index": 0 }]] },
    "IF - Soumission Prioritaire ?": { "main": [[{ "node": "Telegram - Notif Soumission", "type": "main", "index": 0 }]] },
    "Edit Fields1": { "main": [[{ "node": "Save Memory Supabase", "type": "main", "index": 0 }]] },
    "Save Memory Supabase": { "main": [[{ "node": "gbrain Capture", "type": "main", "index": 0 }]] },
    "gbrain Capture": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
